body {
  margin:0;
}
a {
  color:black;
  text-decoration: none;
}
h3 {
  font-size:27px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin:0;
  padding:20px;
}
ul {
  border-right:1px solid grey;
  width:280px;
}
#grid {
  display:grid;
  grid-template-columns: 300px 1fr;
}
#grid #article {
  margin-left:70px;
  margin-top:20px;
  margin-right:20px;
  margin-bottom:30px;
}
#grid ul {
  margin:0;
  margin-left:25px;
  padding:20px;
}
@media(max-width:800px){
  #grid {
    display:block;
  }
  ul {
    border-right:none;
  }
  h3 {
    border-bottom:none;
  }
  #grid #article {
    margin-left:40px;
    margin-top:20px;
    margin-right:20px;
    mar
